body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido al final (derecha) del contenedor flex */
    align-items: center;
    height: auto;
}
main {
    display: flex;
    justify-content: center; /* Empuja el contenido a la derecha */
    width: 100%; /* Ocupa el ancho completo para permitir la alineación correcta */
}

main .texto {
    text-align: center; /* Alinea el texto hacia la izquierda */
    width: 50%; /* Define el ancho del área de texto para controlar dónde comienza el texto */
}

header, footer {
    text-align: center; /* Centra el texto en el header, main y footer */
    width: 100%; /* Ancho de los elementos centrados */
}

nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

nav ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Espacio entre los elementos del menú */
}

article {
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Asegura que el footer ocupe toda la anchura de la ventana */
    padding: 10px 0;
}

/* Links */
a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: black; /* Establece el color de los enlaces a negro */
}

a:hover {
    color: grey(4, 4, 13); /* Cambia el color de los enlaces al pasar el mouse */
}

#imagen-blog {
    float: left; /* Hace que la imagen flote hacia el lado izquierdo */
    margin-right: 20px; /* Añade espacio entre la imagen y el texto a su derecha */
    width: 20%; /* Reduce el ancho a la mitad del tamaño original */
    height: auto; /* Mantiene la proporción de la altura con respecto al nuevo ancho */
    border-radius: 50%; /* Hace que los bordes de la imagen sean completamente redondos */
}
